body {
  background-color:#FF9AA2;
}

h1 {
  text-align: center;
  font-size: 50px;
}

p{
  font-size: 25px;
}
 
.topnav{
  display: flex; 
  justify-content:
  space-between;
}

.topnav a{
   float: left;
   color: Black;
   text-align: center; 
   padding: 25px 30px;
   font-size: 25px;

}
/* Change the color of links on hover */ 
.topnav a:hover {
  /*background-color: black;*/
  /*text-decoration: underline;*/
  color: White;
}
h2 a{
  font-size: 25px;
  color: black;
}

h3 a{
  font-size: 25px;
  color: black;
}

h4 a{
  font-size: 25px;
  color: black;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;

}